html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;

}

:root{
  --main: rgba(222,151,9,255);

}
a {
  color: inherit;
  text-decoration: none;
}

.input{
  padding: 0;
  border: 1px solid rgba(222,151,9,255);
}

/*BANNER START                            */
.banner-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
 

  background: linear-gradient(rgba(0,0,0,0.83),rgba(0,0,0,0.83),rgba(0,0,0,0.86)),url(../public/images/pexhoney.jpg);
  background-attachment: fixed;
  background-position: center;
}
.banner-bee{
position: absolute;
right:10px;
top: 150px;
z-index: 0;
overflow: hidden;  
transition: 0.4s ease-in;
}
.banner-hright{
  position: absolute;
  bottom: -7px;
  right: 0;
  overflow: hidden;  
}
.banner-logo{
 position: absolute;
  left: 0;
   bottom: 0;
   overflow: hidden;  
}
.banner-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 55vw;
  text-align: start;
  padding: 1rem;
}
.banner-h2{
  color: rgba(222,151,9,255);
  font-size: 2rem;
  margin: 0;
  z-index: 1;
  text-align: center;
}
.banner-h1{
  color: rgba(222,151,9,255);
  font-size: 3.5rem;
  margin: 0;
  z-index: 1;
  text-align: center;
}
.banner-p{
  color: white;
  font-size: 2rem;
  margin: 0;
  z-index: 1;
}
.banner-p2{
  color: white;
  font-size: 1rem;
  z-index: 1;
}
.banner-p3{
  z-index: 1;
    width: 100%;
    font-weight: 300;
    display: flex;
    text-align: right;
    justify-content: end;
    color: rgba(222,151,9,255);
}
@media only screen and (max-width: 825px) {
  .banner-text{
  
    max-width: 65vw;
  
  }
  .banner-bee{
    position: absolute;

    top: 300px;
    z-index: 0;
    }
    .banner-hright{
      position: absolute;
      bottom: -7px;
      right: 0;
      overflow: hidden;  
    }
    .banner-logo{
     position: absolute;
      left: 0;
       bottom: 0;
    }
}
@media only screen and (max-width: 691px) {
  .banner-main{
    justify-content: flex-start;
  }
  .banner-text{
    margin-top: 7rem;
    max-width:75vw;
  }
}
@media only screen and (max-width: 600px) {
  .banner-bee{
   display: none;
    }
    .banner-hright{
      display: none; 
    }
    .banner-text{
  
      max-width: 95vw;
    
    }
}
@media only screen and (max-width: 474px) {
  .banner-h1{
    font-size: 2rem;
  }

  .banner-h2{
    color: rgba(222,151,9,255);
    font-size: 1.5rem;
    margin: 0;
    z-index: 1;
    text-align: center;
  }

  .banner-p{
    color: white;
    font-size: 1rem;
    margin: 0;
    z-index: 1;
  }
  .banner-p2{
    color: white;
    font-size: 0.8rem;
    z-index: 1;
  }
  .banner-p3{
    z-index: 1;
      width: 100%;
      font-weight: 300;
      display: flex;
      text-align: right;
      justify-content: end;

      font-size: 0.3;
  }
}
/*BANNER END                            */
/*PRODUCT DETAILS START*/
.productdetails-banner{
  min-height: 35vh;
  border-bottom: 5px dotted rgba(222,151,9,255);
  box-shadow: 0 4px 30px rgba(222, 151, 9, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  background:url(../public/images/sz450w300.png);
  background-size: cover;
  background-position: center;
}
.productdetails-image{
  margin: 1rem;
  border-radius: 50%;
  max-width:600px;
  width: 100%;
}

.productdetails-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.productdetail-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
  
}
.productdetail-kit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5rem 0 5rem 0;
    padding: 1rem;
    border-left: 5px dotted rgba(222,151,9,255);
    border-right: 5px dotted rgba(222,151,9,255);
}


@media only screen and (min-width: 755px) {
  .h1-banner{

    margin-left: 1rem;
  }
  .navbar-mobile-btn{
    display: none;
  }
  .navbar-large-menu{
    display: flex;
  }
  
}   
@media only screen and (min-width: 820px) {
  .productdetails-banner{
    min-height: 55vh;
    background:url(../public/images/sz1391w500.png);
    background-size: cover;
    background-position: center;
  }
  .productdetail-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}   
/*PRODUCT DETAILS END*/



/*NAVBAR START*/
.navbar{
position: fixed;
    top: 0;
    left: 0;
    min-height: 78px;
      display: flex;
  align-items: center;
    background-color:transparent;
    z-index: 999;
    display: flex;
    width: 100%;
  transition: ease-in 0.3s;
}
.logo{
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
}
.navbar__later{
  top:10px;
  border-radius: 212px;
  background:linear-gradient(90deg, rgba(249,157,37,255) 0%, rgba(252,210,85,255) 50%, rgba(249,157,37,255) 100%);
 
}
.navbar-nav{
width: 100%;
  align-items: center;
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: center;
}
.navbar-brand{
  color: #ffffff;
}
.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 34px;
  cursor: pointer;
  z-index: 10;
  margin-right: 1rem;
  
}
.bar-top, .bar-middle, .bar-bottom{
  height: 3px;
  background-color:#ffffff;
  transform-origin: left;
  transition: ease-in 0.3s;
}
.hamburger-menu-change .bar-top{
  transform: rotate(42deg);
}
.hamburger-menu-change .bar-middle{
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu-change .bar-bottom{
  transform: rotate(-42deg);
}
.navbar-collapse{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;

  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateX(100%);
  transition: ease-in 0.3s;
}

.navbar-nav li{
  transition: ease-in 0.3s;
  margin: 2rem 0 0 0;
  height: auto;
}

.nav-li-a{
  color: white;
  font-size: 1.4rem;
  transition: ease-in 0.3s;
}
.nav-li-active{
  color: white;
}
@media screen and (min-width: 578px){
  .navbar-collapse{
      width: 100%;
  }
}
@media screen and (max-width: 992px){
  .show-navbar-collapse{
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(0);
    height: 100%;
    background:linear-gradient(90deg, rgba(252,210,85,255) 0%, rgba(249,157,37,255) 50%, rgba(252,210,85,255) 100%);
    overflow: hidden;
  }
}

@media screen and (min-width: 992px){
  .navbar-collapse{
      transform: translateX(0);
      position: relative;
      background-color: transparent;
      box-shadow: none;
      top: 0;
      height: auto;
      width: 100%;
  }
  .navbar-collapse-content{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
  }
  .hamburger-menu{
      display: none;
  }
  .navbar-nav{
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
  }

  .nav-li-a{
    color: rgba(222,151,9,255);
    font-size: 1.4rem;
    transition: ease-in 0.3s;
  }
  .nav-li-active{
    color: white;
  }
  .navbar-nav li{
    margin: 0 1.5rem 0 0;
  }
 
}

/*NAVBAR END*/

/*ULOTERAPIA START */
.app__ulo-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app__ulo-page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 5px dotted rgba(222,151,9,255);
  border-right: 5px dotted rgba(222,151,9,255);
  width: 90%;

}
.app__ulo-page-ul{

display: flex;
flex-direction: column;
text-align: start;


}
.app__ulo-page-ul > li{
  color: grey;
  font-size: 1.1rem;
  max-width: 700px;
  margin-top: 0.5rem;
}
.app__ulo-container{ 
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  margin-top: 4rem;
  border-left: 5px dotted rgba(222,151,9,255);
  border-right: 5px dotted rgba(222,151,9,255);
  position: relative;

 

}
.app__ulo-text{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
  padding: 1rem;
}
.grey-ptext{
  color: rgb(98, 98, 98);
  font-size: 1.1rem;

}
.yellow-span{ 
  color: rgba(222,151,9,255);
  font-size: 1.7rem;
  font-weight: 500;

}
.yellow-button{ 
  background-color: rgba(222,151,9,255);
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 32px;
  width: 100%;
}
.yellow-button:hover{ 
  opacity: 0.9;
}

.yellow-button > p{ 
color: white;
font-size: 1.2rem;
margin: 0;
padding: 0;
}


.app__ulo-image{  
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 1rem;
  max-width: 600px;
  width: 90%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}
.app__ulo-more-container{

    margin-top: 5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    border-left: 5px dotted rgba(222,151,9,255);
    border-right: 5px dotted rgba(222,151,9,255);
    padding: 1rem;

}
.app__ulo-more-wskazania{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.app__ulo-more-knowhow{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.app__ulo-more-info{

    text-align: center;
    border-right: 2px dotted rgba(222,151,9,255);
    border-left: 2px dotted rgba(222,151,9,255);
    padding: 1rem;

}

@media only screen and (max-width: 800px) {
  .app__ulo-page-container{
    flex-direction: column-reverse;
  }
  .app__ulo-container{
    flex-direction: column-reverse;
  }
  .app__ulo-more-container{
    flex-direction: column;
}
.app__ulo-text{ 
 
  max-width: 95%;

}
}
/*ULOTERAPIA END */
/*LOGIN REGISTER*/
.loginregister{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.83),rgba(0,0,0,0.83),rgba(0,0,0,0.86)),url(../public/images/pexhoney.jpg);
  background-attachment: fixed;
  background-position: center;

}
/*LOGIN REGISTER*/
